.org-ava {
    height:35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 6px;
}

.post-act-org-item-org-click-zone {
    display: flex;
    align-items: center;
}