@import '../../../constants/colors.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 15px;
    background-color: $background;
}

.activity-medium-component-wrapper{
    display: flex;
    justify-content: center;
    background-color: $background_act_component;
    border-radius: 15px;
    flex-direction: column;
    
    p {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    margin : 10px 0px;
}

.activity-medium-component-wrapper:hover {
    transform: scale(1.05); /* Phóng to lên 1.05 lần */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Điều chỉnh giá trị rgba để tùy chỉnh màu sắc và độ đậm của bóng */
}

.activity-medium-component-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 20px ;
    margin-bottom: 5px;
    position: relative;
}

#activity-medium-component-name {
    color: $accent;
}

#activity-medium-component-status {
    position: absolute;
    top: 0px;
    right : 25px;
    padding : 5px 10px;
    border-radius: 20px;
    color: $white;
}

#activity-medium-component-date {
    margin-left: 20px;
    color : $text
}

#activity-medium-component-content-wrapper {
    display: flex;
    margin : 5px 0px;
}

#activity-medium-component-img {
    height: 150px;
    width: 200px;
    margin-right: 20px;
    object-fit: contain;
    margin-left: 20px;
}

#activity-medium-component-main-content {
    margin-right: 20px;
}

#activity-medium-component-info-category {
    margin-left: 20px;
    margin-right : 20px;
    width: 55%;
    display: flex;
    align-items: center;
}

#activity-medium-component-info-location {
    margin-left: 20px;
    width: 50%;
    display: flex;
    align-items: center;
}

.activity-medium-component-info-content {
    margin-left: 5px;
}

#activity-medium-component-info-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#activity-medium-component-comment-parti-wrapper {
    display: flex;
    justify-content: end;
}

.activity-medium-component-comment-parti-item {
    color: $text;
    margin-right: 20px;
    margin-top : 5px;
    margin-bottom: 20px;
}
