@import '../../../../constants/colors.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 15px;
    background-color: $background;
}

.post-management-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    background-color: $light_orange;
    padding : 20px 0px;
    border-radius: 20px;
    margin-bottom : 20px;
    margin-top: 10px;
    position: relative;
    min-height: 500px;
}

.post-management-grid-layout {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap : 5px;
    justify-content: space-around;
    width: 100%;
}

.post-management-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 20px 0px;
}

.post-management-title {
    color : $accent;
}

.post-create-button {
    background-color: $button !important;
    color: $white !important;
    position: absolute;
    top: 20px;
    right: 20px;
}

.post-create-button:hover {
    background-color: $white !important;
    color: $button !important;
    border: 1px solid $button !important;
}

.error-no-post {
    width: 100%;
    text-align: center;
    margin-top: 200px;
    color : $subText;
}