@import'../../../../../constants/colors.scss';

.search-account-item-wrapper {
    display: flex;
    align-items: center;
}

.search-account-item-content{
    margin : 10px 10px;
}

.search-account-item-name {
    color : $accent;
    font-weight: bold;
    font-size: 15px;
}

.search-account-item-email {
    font-size: 12px;
}