@import '../../../constants/colors.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 15px;
    background-color: $background;
}

.list-people-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin : 20px 0px;
    position: relative;
}

.list-people-navigation { 
    width: 20%;
    margin : 0px 20px;
    background-color: $activity-tabbar;
    padding : 10px;
    border-radius: 20px;
    height: fit-content;
    position: sticky;
    top : 90px;
}

.list-people-content-wrapper {
    width: 75%;
    margin : 0px 20px;
}

.list-people-content-big-holder {
    background-color: $background-people-list-content;
    margin: 10px 0px;
    padding : 20px;
    border-radius: 20px;
}

.list-people-content-title {
    color : $accent;
}

.search-bar-wrapper {
    background-color: $background-search-list-people;
    padding : 20px;
    border-radius: 20px;
    z-index: 100;

    .ant-input-outlined {
        background-color: $search-list-people !important;
    }
}

.list-people-content-grid-layout {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    width: 100%;
}

.list-people-pagination {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
}