@import '../../../constants/colors.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 16px;
}

.item-wrapper {
    display: flex;
    align-items: center;
    // justify-content: center;
    margin : 5px 0px;
}

.item-wrapper:not(:last-child) {
    border: 1px solid black; 
}

.item-title {
    font-size: 13px;
    color : $primary_green;
    font-weight: bold;
}

.item-icon {
    color : $primary_green;
    font-size: 20px;
    margin-right: 10px;
}

.search-post-item {
    display: flex;
    align-items: center;
}

.search-post-image {
    width: 200px;
    height: auto;
    margin-right : 10px
}

.noti-item-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 450px;
    border-radius: 20px;
    padding: 15px ;
}   

.noti-item-icon {
    width: 25%;
}

.noti-item-content-wrapper {
    width: 70%;
}

.noti-item-create-date {
    width: 100%;
    text-align: end;
    color : $subText;
    margin-top: 10px;
}

.noRead-noti-item {
    background-color: #C4C4C4;
}

.noRead-noti-item-content {
    font-weight: 700;
}