@import '../../../constants/colors.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 15px;
    background-color: $background;
}

.chat-box-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 88.5vh;
}

.chat-box-title {
    color : $accent;
    margin : 10px 0px;
}

.chat-box-list-sender-wrapper {
    min-width: 25%;
    background-color: $chat-box-list-sender;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-box-list-sender-wrapper {
    .ant-input-outlined {
        width: 80%;
        margin-bottom : 20px;
    }
}

.chat-box-account-list{
    width: 100%;
    overflow-y: auto;
}

.chat-box-main-content-wrapper {
    max-width: 75%;
    width: 75%;
    height: 100%;
}