@import '../../../constants/colors.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 15px;
    background-color: $background;
}

.list-activity-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: fit-content;
    padding : 20px 0px;
}

.list-activity-tabbar {
    display: flex;
    flex-direction: column;
    flex : 18%;
    height: fit-content;
    background-color: $activity-tabbar;
    padding : 30px 20px;
    margin: 0px 10px;
    border-radius: 20px;
    align-items: center;
    hr{
        width: 85%;
        margin : 10px 0px;
        border : 1px solid black
    }
}

.tabbar-title {
    font-weight: bold;
    font-size: 20px;
    margin : 10px 0px;
    color : $accent
}

.tabbar-category, .tabbar-country, .tabbar-status, .tabbar-date {
    width: 100%;
    justify-content: start;
    margin-bottom: 10px;
}

.tabbar-radio {
    margin : 2px 0px;
    color : $primary_green
}

.tabbar-date-start, .tabbar-date-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 15px 0px;
}

.tabbar-filter-button {
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
    background-color: $button_orange;
    color : $white;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.tabbar-filter-button:hover {
    background-color: $white !important;
    border: 1px solid $button_orange !important;
    color : $button_orange !important;
}

.tabbar-filter-button-icon {
    font-size: 17px;
}


.list-activity-content {
    display: flex;
    flex-direction: column;
    flex : 84%;
    margin-right: 10px;
    align-items: center;
}

.content-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-sort-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-sort-title {
    display: inline;
    margin-left: 10px;
    margin-right : 5px;
    font-weight: bold;
    color : $primary_green
}

.content-sort-button {
    background-color: $button;
    color : $white;
    font-weight: bold;
    margin: 0px 10px;
}

.content-sort-button:hover {
    background-color: $white !important;
    color : $button !important ;
    border: 1px solid $button !important;
}  

.content-sort-select {
    background-color: $background_input_green !important;
    width: 45%;
    height: 35px;
    color: $black !important;
    .ant-select-selector { 
        background-color: $background_input_green !important;
    }
}

.content-header {
    .ant-input-outlined { 
        background-color: $background_input_green !important;
        width: 45%;
    }
}

.content-create-button {
    background-color: $button_orange ;
    color : $white;
    font-weight: bold;
}

.content-create-button:hover {
    background-color: $white !important;
    color : $button_orange !important;
    border : 1px solid $button_orange !important;
} 

.header-hr {
    margin: 15px 0px;
    width: 85%;
    border: 0.5px solid black;
}

.content-activity {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    padding : 0px 20px;
    gap : 30px;
    margin : 20px 0px;
    width: 100%;
}

.tabbar-date-title {
    color: $primary_green;
}

.width-100 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gray-color {
    color : $subText;
    margin-top: 150px;
}