@import '../../../constants/colors.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 15px;
    background-color: $background;
}

.create-post-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin : 20px 0px;
}

.create-post-title {
    color : $accent;
    width: 100%;
    text-align: center;
}

.create-post-content-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

.create-post-info-wrapper {
    display: flex;
    flex-direction: column;
    background-color: $background_create_post;
    width: 48%;
    margin-right : 10px;
    margin-left: 20px;
    padding : 20px 20px;
    border-radius: 20px;
    align-items: center;
    height: fit-content;
}

.create-post-info-item {
    width: 100%;
    margin : 10px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create-post-info-item-title {
    color : $primary_green;
    width: 100%;
    text-align: start;
}

.create-post-button {
    background-color: $button !important;
    color : $white !important;
    width: fit-content;
}

.margin-top-50 {
    margin-top : 50px;
}

.create-post-info-title-input {
    background-color: $white !important;
    width: 100%;
    margin : 0px !important;
}

.create-post-button:hover {
    background-color: $white !important;
    color : $button !important;
    border : 1px solid $button !important;
}

.display-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.margin-bottom-10 {
    margin-bottom : 10px ;
}

.create-post-content-input {
    width: 100%;
    max-width: 650px;
    background-color: $white !important;
    height: 400px;
    .ql-container {
        background-color: $white !important;
    }
}

.create-post-preview-wrapper {
    display: flex;
    width: 48%;
    flex-direction: column;
    margin-left : 10px;
    margin-right: 20px;
    background-color: $background_preview;
    padding : 20px 10px;
    border-radius: 20px;
    align-items: center;
}

.create-post-preview-title {
    margin : 10px;
    word-break: break-all;
}

.create-post-preview-image {
    width: 90%;
    height: 400px;
    margin-bottom: 10px;
}

.create-post-preivew-info-wrapper{
    width: 85%;
}

.create-post-preview-hr {
    border : 1px solid black;
    margin : 10px;
    width: 90%;
}

.create-post-preview-info-item {
    margin : 5px 0px;
    width: 100%;
    display: flex;
}

.create-post-preview-content {
    width: 95%;
    display: flex;
    justify-content: start;
    img {
        width: 95%;
    }
}

.primary-color {
    color : $primary_green;
    width: 30%;
}

.create-post-preview-content * {
    word-break: break-all;
}