$primary_green: #438D7E;
$secondary_green: #2DA399;
$primary_orange: #FB6C00;
$secondary_orange: #C98755;
$accent: #257769;
$background: #90DFC7;
$background-header : #F3E9E3;
$background-footer : #90DFC7;
$text: #4a4a4a;
$subText: #666666;
$white: #ffffff;
$black: #000000;
$light_gray: #f4f4f4;
$dark_gray: #d9d9d9;
$gray: #efefef;
$danger: #dc3545;
$warning: #fcb100;
$success: #07a14f;
$border: #438D7E;
$button: #257769;