@import '../../../../constants/colors.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 15px;
    background-color: $background;
}

.activity-detail-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.activity-detail-header {
    width: 100%;
    position: relative;
    margin : 10px 0px;
}

#activity-image {
    width: 100%;
    height: 550px;
}

#activity-img-blur {
    width: 100%;
    height: 550px;
    position: absolute;
    top : 0px;
    left : 0px;
    background-color: rgb(217,217,217,0.8);
}

#activity-header-content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top : 0px;
    left : 0px;
    width: 100%;
    height: 550px;
}

#activity-manager-button-wrapper {
    position: absolute;
    left : 20px;
    top : 20px;
}

.activity-manager-button-item {
    margin-right: 20px;
    background-color: $button_orange !important;
    font-weight: bold !important;
    color: $white !important;
}

.activity-manager-button-item:hover {
    background-color: $white !important;
    border: 1px solid $button_orange !important;
    color: $button_orange !important;
}

#activity-name {
    width: 100%;
    text-align: center;
    color: $accent;
    margin-top: 20px;
}

#activity-status {
    position: absolute;
    top: 20px;
    right: 20px;
    padding : 8px 20px;
    border-radius: 15px;
}

#activity-header-info-wrapper {
    width: 85%;
    display: flex;
    height: max-content;
    justify-content: space-between;
    align-items: center;
}

#vertical-line {
    border: 1px solid black;
    height: 90%;
    margin: 0px 20px;
}

.activity-header-info-item-container{
    width: 100%;
}

.activity-header-info-item {
    margin : 30px 0px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.activity-header-info-item-title {
    font-weight: bold;
    color: $primary_green;
    flex : 20%;
}

.activity-header-info-item-content {
    flex : 55%
}

#horizontal-line {
    border: 1px solid black;
    width: 85%;
    margin-top : 10px;
    margin-bottom: 20px;
}
#activity-content {
    width: 80%;
}

.activity-header-info-hr-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-button-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.tabbar-button {
    display: flex;
    margin-right: 20px;
}
.tabbar-button-active {
    background-color: $accent !important;
    color: $white !important;
}

.tabbar-button-inactive {
    background-color: $white !important;
    color: $accent !important;
    border: 1px solid $accent;
}

#tabbar-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-bottom: 20px;
}