@import '../../../../../../constants/colors.scss';

* {
    margin: 0;
    padding: 0;
}


.task-detail-modal-wrapper{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#task-detail-modal-title {
    width: 100%;
    text-align: center;
    color : $accent;
}

.ant-select-selector {
    background: none !important;
    font-weight: bold !important;
}

.task-detail-select-status {
    width: 120px;
    border-radius: 6px;
    text-align: center;
}

.task-detail-status-item {
    font-weight: bold !important;
    color: $white !important;
}

.ant-select-arrow{
    font-weight: bold;
}

.avatar-no-user-item {
    background-color: $background-no-user-avatar;
}

.task-detail-info-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom : 10px;
    margin-top: 20px;
}

.task-detail-date-wrapper {
    width : 30%;
    display: flex;
    flex-direction: column;
}

.task-detail-date-item {
    display: flex;
    justify-content: space-between;
    margin : 10px 0px;
}

.task-detail-date-picker {
    width: 150px;
    text-align: center;
}

.task-detail-assignee-status-wrapper {
    width: 35%;
    margin-left : 25%;
}

.task-detail-status-wrapper, .task-detail-assignee-wrapper {
    display: flex;
    justify-content: space-between;
    margin : 10px 0px;
}

.task-detail-select-status, .task-detail-select-assignee {
    width: 170px;
    height: 40px;
}

.ant-select-selection-item {
    span {
        display: flex;
    }
    display: flex;
}

.assignee-name {
    margin-left : 8px;
}

.task-detail-input-description{
    width: 100%;
    margin : 0px 0px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}