@import '../../../constants/colors.scss';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 10px;
    background-color: $background;
}

.data-table-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.custom-title {
    font-family: 'Rubik', sans-serif;
    color: #A45921;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.center-content {
    text-align: center;
}

.sub-header {
    display: flex;
    align-items: center;
}

.custom-search-input {
    width: 400px;
    height: 20px;
    padding: 12px;
    border: 1px solid;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    background-color: #f8f8f8;
    color: #c8c8c8;
    outline: none;
}

.custom-search-input::placeholder {
    font-family: 'Rubik', sans-serif;
}
<<<<<<< HEAD
.center-content {
    display: flex;
    justify-content: space-between;
    gap: 8px; 
}
.hidden {
    visibility: hidden; 
}
.btn-Del, 
.btn-mail,
.btn-Edit {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
    flex: 0 0 auto;
}

.btn-Del,
.btn-Edit, 
.btn-mail svg {
    width: 18px;
    height: 18px;
}

.btn-Edit:hover {
    color: $button;
    background-color: rgba(238, 238, 238, 1);
=======

.align-item-center {
    display: flex;
    align-items: center;
}

.btn-Del {
    background: transparent;
    border: none;
    color: $danger;
    margin: 0px 10px;
>>>>>>> 6b2395fc151b2a192c47eaddaa2756d6634279bb
}

.btn-Del:hover {
    background-color: $danger !important;
    color: $white !important;
}

.btn-UnDel {
    background: transparent;
    border: none;
    color: $button;
    margin: 0px 10px;
}

.btn-UnDel:hover {
    background-color: $button !important;
    color: $white !important;
}

.btn-mail {
    background: transparent;
    border: none;
    color: $mail;
}

.btn-mail:hover {
    background-color: $mail !important;
    color: $white !important;
}

.lock-icon {
    color : $danger;
}

.unlock-icon {
    color : $success;
}