@import '../../constants/colors.scss';

body {
    background-color: $background;
}

.mainhead1 {
    color: rgb(189, 105, 56);
    font-size: 30px;
    font-weight: 300;
    padding: 5px 10px;
    margin-top: 10px;
    border: 10px;
}

.mainbutton1 {
    background-color: #F48028;
    border: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 200;
    margin: 1rem;
    cursor: pointer;
    color: #ffffff;
    width: 100px;
}

.mainbutton1:hover {
    background-color: rgb(241, 211, 182);
    color: #F48028;
    transform: scale(1.1);
    transition: all 0.6s ease-in-out;
}

.securityFormParent{
    background-color: #fff;
}

h1 {
    padding: 10px 20px;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;

}

.form-group {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
}

.form-group input[type='password'] {
    border: 1px solid;
    border-radius: 5px;
    border-width: 0px;
    width: 480px;
    height: 30px;
    outline: none;
    background-color: aliceblue;
}

.form-group label {
    margin-bottom: 8px;
    background-color: #fff;
}

.securityForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    border: 1px;
    border-radius: 10px;
}
.securityForm button {
    margin-left: 45%;
}
