@import '../../../constants/colors.scss';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 10px;
    background-color: $background;
}

.data-table-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.custom-title {
    font-family: 'Rubik', sans-serif;
    color: #A45921;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.custom-header {
    text-transform: capitalize;
    //border: 1px solid #000;
}
.center-content {
    text-align: center;
    font-size: 13px;
}

.btn-Form {
    background-color: $button_orange;
    font-size: 1.5rem;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    border-radius: 5px;
}

.btn-Form:hover {
    background-color: antiquewhite;
    color: #d9534f;
}

.sub-header {
    display: flex;
    align-items: center;
}

.custom-search-input {
    width: 400px;
    height: 27px;
    padding: 12px;
    border: 1px solid;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    background-color: #f8f8f8;
    color: black;
    outline: none;
}

.custom-search-input::placeholder {
    font-family: 'Rubik', sans-serif;
}

.btn-Del {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.btn-Del svg {
    width: 18px;
    height: 18px;
}

.btn-Del:hover {
    background-color: $background;
    color: #d9534f;
}

.align-item-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}